body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: maroon;
  background-color: black;
}
#googimg{
  width: 20px;
  height: 20px;
  background-color: maroon;
}
#chars{
background-color: black;
}
#new{
background-color: black;
}
#ch{
  text-align: center;
  background-color: black;
  color: white;
}
#ne{
  text-align: center;
  background-color: black;
  color: white;
}
#pe{
  text-align: center;
  background-color: black;
  color: white;
}
#oc{
  text-align: center;
  background-color: black;
  color: white;
}
#ac{
  text-align: center;
  background-color: black;
  color: white;
}
#del{
  color: maroon;
  font-family: Creepster;
  border-radius: 15px;
  text-align: left;
  font-size: 75px;
  float: left; 
  width: 15%;
  height: 120px;

  background-color: black;
}
#showPage {
  display: flex;
  flex: 50%;
}
#newForm {
  display: flex;
  flex: 50%;
}
.dis{
  background-color: red;
  display: flex;
  flex: 50%;
  
}
.deets{
  background-color: rgb(37, 30, 30);
}
#skully
{
  
  width: 280px;
  height: 280px;
  margin-top: -12px;
  margin-left: -100px;
}


<