body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  background-color: black;
}
#googimg{
  width: 20px;
  height: 20px;
  background-color: black;
}
#chars{
background-color: black;
}
#new{
background-color: black;
}
#ch{
  text-align: center;
  background-color: black;
  color: white;
}
#ne{
  text-align: center;
  background-color: black;
  color: white;
}
#pe{
  text-align: center;
  background-color: black;
  color: white;
}
#oc{
  text-align: center;
  background-color: black;
  color: white;
}
#ac{
  text-align: center;
  background-color: black;
  color: white;
}
#del{
  text-align: center;
  background-color: black;
}


