body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#googimg{
  width: 20px;
  height: 20px;
  background-color: black;
}
#chars{
background-color: black;
}
#new{
background-color: black;
}
