<%- include('../partials/header') %>


<section id="badge-container">
  <% acc.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-acc-form" action="/acc" method="POST">
  <label>Personality Trait:</label>
  <input type="text" name="name">  
  <!-- CHANGE TO BUFFER EG: NAME = ACCESSORY -->
  <label>Accessory:</label>
  <select type="BUFFER" name="charSet">
  <option value="this">this</option>
  </select>
  <input type="submit" value="Add Accessory && Trait">
</form>

