<%- include('../partials/header') %>

    <% character.forEach(function(m) { %>
      <tr>
        <td id = 'ne' ><%= m.name %></td>
        <td id = 'ch' >[<%= m.char %>]</td>
        <td><a href="/characters/<%= m._id %>">[DETAILS]</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  

