

<form id="new-form" action="/characters" method="POST">
  <label>Character Type:</label>

  <select type="text" name="char">
  <option value="()_()">()_()</option>
  <option value="._.">._.</option>
  <option value="^_^">^_^</option>
  <option value="o~o">o~o</option>
  <option value="x_x">x_x</option>
  </select>
  <label>Name</label>
  <input type = "text" name="name">
  <label>Personality Trait:</label>
  <input type = "text" name="personality">
  <label>Occupation:</label>
  <input type = "text" name="occupation">
  <label>Accessory:</label>
  <select type="text" name="accessory">
    <option value="bowl">bowling ball</option>
    <option value="scarf">lead scarf</option>
    <option value="collection">spider collection</option>
    <option value="job">a promising career</option>
    <option value="cd">The Wiggles TM greatest hits (multi disk, remastered) </option>
    <option value="batteries">a handful of hearing aid batteries</option>
    <option value="bat">wiffle bat</option>
    <option value="hammock">hammock for ten</option>
    <option value="change">spare change for that homeless guy you ignore on your way to work. You monster..</option>
    <option value="beanie">beanie baby's baby</option>
    <option value="reg">regrets</option>
  
  <input type="submit" value="Add Character">
</form>

