<%- include('../partials/header') %>

<form id="new-form" action="/character" method="POST">
  <label>Character Type:</label>

  <select type="BUFFER" name="CharSel">
    <option value="this">this</option>

  </select>
  <label>Name</label>
  <input type = "text" name="main">
  
  <input type="submit" value="Add Character">
</form>

